<!DOCTYPE html>
<html lang="">
  <head>
    <title>Login Form</title>
    <meta name= "viewport" content= "width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/login.css">
    <link href="<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    
  </head>
  <body>
    <img class="circle" src="img/circle.png"
    <div class="container">
            <div class="img">
                <img src="img/sideimg.svg">
            </div>
            <div class="login-container">
                <form action="templates/login.html">
                    <img src="img/avatar.svg">
                    <h2>Welcome</h2>
                    <div class="input-div">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div>
                            <h5>Username</h5>
                            <input calss="input" type="text">
                        </div>
                    </div>
                    <div class="input-div">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div>
                            <h5>Password</h5>
                            <input calss="input" type="password">
                        </div>
                    </div>
                    <a herf="#">Forgot Password?</a>
                    <input type="submit" class="btn" value="login">
                </form>
            </div>
        </div>
        <script type="text/javascript" src="static/login.js"></script>
                            
  </body>
</html>
